.cart{
    width: 400px;
    height: 100vh;
    display: flexbox;
    flex-direction: flex-end;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: all 0.5s ease-in;
    background: #fff;
}

.cart-hidden{
    right: -100%;
}
.cart-active{
    right: 0;
}

.nav-menu .close-cart {
    position: relative;
    top: 5%;
    left: 15%;
}