.trends{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px ;
    height: 400px;
}

.trends p{
    font-weight: 100;
    font-family: sans-serif;
    font-size: 18px;
    margin: 12px;
}

.trends  input{
height: 28px;
width: 50%;
border: none;
margin: 10px;
text-align: center;
font-size: 14px;
border-bottom: 1px solid black;

}

.trends ul{
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    margin: 10px;
    cursor: pointer;
}

.trends ul li a{
    list-style: none;
   text-decoration: none;
   font-style: none;
   color: black;
   font: 14px;
   font-weight: 400;
}

.trends ul li a:hover{
    scale: 1.05;
    color: rgb(29, 29, 27);
}