
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
     padding: 5px 10px;
    background-color: #ffffff;
    color: #000000;

  }
  
.navbar-logo-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 34px;
  padding-left: 29px;
}
.navbar-icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
  margin-right: 17px;
}
  
  
