

.menu-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #000000;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.menu-item-img {
  width: 100%;
  height: 412px;
  display: block;
  overflow: hidden;
}

svg.bi-plus{
  display: inline-block;
  height: 35px;
  width: 35px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 100%;

}

/* Content section */
.content {
  padding: 15px;
  text-align: center;
  background-color: #fafafa;
}

.content .title {
  font-size: 1rem;
  font-weight: 600;
  margin: 5px 0;
  color: #333;
  text-transform: uppercase;
}

.content .variety{
  font-size: 16px;
  color: #777;
}

.content .price{
  font-size: 1rem;
  color: #5e5a5a;
}
