.footer{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    height: 230px;
    width: 100%;
}

.footer div{
    display: grid;
       padding: 30px;
}
.footer div a{
    color: white;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    padding: 2px;
    font-weight: 600;
}
.footer div.second {
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 30px;
}
 .footer div.second p{
    font-size: 13px;
    font-weight: 100;
 }